.custom-shadow{
    box-shadow: 0 2px 30px 0px rgba(246, 244, 244, 0.1);
}

textarea {
  border: none;
  resize: none;
  border-radius: 7px;
  transition: all 300ms ease; /* smooth transition */
}

textarea:focus {
  outline: none; /* remove default outline */
  box-shadow: 0 0 5px rgba(42, 128, 220, 0.5); /* optional glow effect */
}

#search-btn{
  transition: all 300ms ease;
}

#search-btn:hover{
  box-shadow: 0 0 5px rgba(42, 128, 220, 0.5);
}


#search-btn:hover #search-svg{
  fill: black;
}